<div class="card-group">
  <div class="card">
    <img src="https://june-mtm6303-mid.myshopify.com/admin/themes/122465550380?key=assets%2F1645512807_0.jpg" class="card-img-top" alt="Chocolate Cherry Cupcakes ">

    <div class="card-body">
      <h5 class="card-title">Chocolate Cherry Cupcakes</h5>
      <p class="card-text"><p> Beautifully hand crafted cupcakes, home made and ready to eat </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="Blue Tiffany's Cake with ring arrangment">
    <div class="card-body">
      <h5 class="card-title">Tiffanys Cake and Ring Arrangement</h5>
      <p class="card-text"> A Gorgeus design arrangemnt with a ring 10k from Tiffany's </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="Masquerade Cake">
    <div class="card-body">
      <h5 class="card-title">Masquerade Ball Cake</h5>
      <p class="card-text">This scrumptious filled cake is delicious and home made. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
